{% for k, v in elasticsearch.config.iteritems() %}
{{ k }}: {{ v }}
{% endfor %}
{% if 'unicast' in elasticsearch %}
discovery.zen.ping.unicast.hosts:
{% if 'interface' in elasticsearch.unicast %}
{% for host in groups[elasticsearch.unicast.group] %}
  - {{ hostvars[host]['ansible_' + elasticsearch.unicast.interface].ipv4.address }}
{% endfor %}
{% else %}
{% for host in groups[elasticsearch.unicast.group] %}
  - {{ host }}
{% endfor %}
{% endif %}
{% endif %}
